body{
  margin: 0; 
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  color: #222;
}

#hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #782f40;
  color: white;
}

#hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

#hero p {
  font-soze: 20px;
  margin-bottom: 30px; 
}

#hero img {
  width: 100%;
  max-width: 650px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}

#about h2 {
  color: #782f40;
  font-size: 30px;
  margin-bottom: 15px;
}

#about article {
  font-size: 18px;
  line-height: 1.7;
}

#hours {
  max-width: 900px;
  margin: 40px auto; 
  padding: 30px;
  background-color: #f5efe0;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

#hours h2 {
  color: #782f40;
  font-size: 30px;
  margin-bottom; 15px;
}

#hours p {
  font-size: 18px;
  line-height: 1.6;
}

#hours ul {
  font-size: 18px; 
  line-height: 2; 
  padding-left: 25px;
}

#location {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}

#location h2 {
  color: #782f40;
  font-size: 30px;
  margin-bottom: 15px;
}

#location p {
  font-size: 18px;
  line-height: 1.6;
}

#location iframe {
  border: 0;
  border-radius: 16px;
  margin-top: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

footer {
  text-align: center;
  padding: 25px;
  background-color: #782f40;
  color: white;
  margin-top: 50px;
}

footer p {
  margin: 0;
  font-size: 16px;
}
